@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Montserrat,sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
    border: solid 1px lightgray;
}

a {
    text-decoration: none;
}

/*----Header Section----*/

.colmar {
    font-weight: 600;
    color: rgb(80,80,80);
}

.academy {
    font-weight: 100;
    color: rgb(157,157,157);
}

.navmobile {
    display:none;
}

.logo {
    display:flex;
    padding-left: 1.5rem;
}

.logo span {
    align-self: center;
    font-size: 2rem;
}

nav {
    height: 4rem;
    display:flex;
    justify-content: space-between;
}

.navdesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-right: 1.5rem;
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
}

.top-section {
    display:flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1.5rem;
    background-color: rgb(216,216,216);
} 

.banner-img {
    width: 60%;
}

.banner-img img {
    width: 100%;
}

.banner-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

button {
    color: white;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(74,74,74);
    width: 80%;
    border: 0px solid;
}

.info-section {
    display: flex;
    margin-top: 2rem;
}
.left-info {
    width: 60%;
    margin-left: 1.5rem;
}

.left-img img {
    width: 100%;
}

.left-text h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.left-text h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.right-info {
    width: 40%;
}

.right-box {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    height: 100%;
    border: 1px solid grey;
}

.right-item {
    display: flex;
    border: 1px solid grey;
    gap: 1rem;
    padding: 1rem;
}

.right-img {
    height: auto;
    width: 35%;
}

.right-text {
    width: 65%;
    line-gap-override: 0.5rem;
    gap: 1rem;
}

.right-img img {
    width: 100%;
}

.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-item:hover {
    background-color: grey;
}

/*-------- Course Section--------*/

.course-section{
    background-color: lightgray;
    padding-top: 2rem;
}

.course-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 4rem;
}

.course-card {
    width: 30%;
    background-color: white;
}

.course-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.course-image img {
    width: 100%;
}

.course-card > div:nth-child(2) {
    padding: 16px 16px 24px 16px;
}

.course-section h2 {
    text-align:center
}

/*-----Thesis Section------*/

.thesis-section h2 {
    padding-top: 2rem;
    text-align: center;
}

.thesis-box {
    display: flex;
    padding: 2rem;

}

.left-thesis {
    width: 60%;
    padding-left: 1.5rem;
}

.thesis-vid video {
    width: 100%;
}

.right-thesis {
    display:flex;
    flex-direction: column;
    width: 40%;
    padding-left: 1.5rem;
}

.thesis-img {
    width: 35%;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.thesis-img img{
    width: 100%;
}

.right-thesis-box {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
}

.thesis-right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 65%;
}

.right-thesis-box:hover {
    background-color: gray;
}

.footer-section {
    display:flex;
    justify-content: space-between;
    border: solid 1px lightgray;
}

.copyright p {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
}

.terms ul {
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
}

/*---- Mobile Section IphoneSE ----*/

@media screen and (max-width: 375px) {
    .logo {
        display:none;
    }
    
    .navdesktop {
        display: none;
    }
    
    .top-section {
        display:block;
    }

    .navmobile {
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .banner-img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .top-section {
        padding: 0;
        margin: 0;
    }

    .banner-text {
        width: 100%;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .top-button {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color:rgb(155,155,155) ;
        border: solid 0px
    }
}